.login
{
    padding-left: 0 !important; 
    color: white;
    text-decoration: none;
}
.login:hover
{
    padding-left: 0 !important; 
    color: white;
    text-decoration: none;
}
.logo
{
    width: 28px !important;
    height:28px !important;
}